@font-face {
  font-family: 'Helvetica Light';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/font/HelveticaLight.ttf');
}

@font-face {
  font-family: 'Helvetica Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/font/HelveticaRegular.ttf');
}

@font-face {
  font-family: 'Helvetica Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/font/HelveticaMedium.ttf');
}

@font-face {
  font-family: 'Helvetica Bold';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/font/HelveticaBold.ttf');
}