@import 'fonts';

$desktopSize: 1440px;
$desktopMinSize: 1439px;
$tabletSize: 1023px;
$mobileSizeW: 767px;

$fontLight: "Helvetica Light", sans-serif;
$fontRegular: "Helvetica Regular", sans-serif;
$fontMedium: "Helvetica Medium", sans-serif;
$fontBold: "Helvetica Bold", sans-serif;

$color-accent:#0EC261;
$color-blue: #007BFF;
$color-black:#121212;
$color-dark-gray:#999999;
$color-light-gray:#EEEEEE;
$color-background:#F5F6F8;
$color-text:#3D5170;
$color-text-dark:#495057;